@import "../mixins";
@import "../var";

.main-header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  z-index: 100;
  background: inherit;

  .wrapper {
    padding: 20px 0;
    @include flex-spaced-center;

    .logo {
      z-index: 100;
    }

    .main-nav {

      @media (max-width: $max-width-medium) {
        display: none;
      }

      .list {
        @include y-center;
        gap: 20px;

        @media (max-width: $max-width-large) {
          gap: 15px;
        }

        .item {
          @include y-center;

          .drop-down-link {
            transition: $default-transition;

            &:hover {
              background: $primary-color;

              .arrow-bottom {
                transform: rotate(360deg);
              }
            }
          }

          &:hover {

            .drop-down {
              display: flex;
            }
          }

          .link {
            padding: 14px;
            border-radius: 8px;
            z-index: 100;
            font-size: 15px;

            @media (max-width: $max-width-large) {
              font-size: 14px;
              padding: 12px;
            }

            .arrow-bottom {
              margin-left: 8px;
              transition: $default-transition;
            }
          }

          .drop-down {
            display: none;
            background: $white;
            width: 100%;
            position: fixed;
            left: 0;
            top: 0;
            right: 0;
            z-index: 50;
            min-height: 300px;

            .drop-down__wrapper {
              @include y-end;
              height: 100%;
              padding-bottom: 60px;
              gap: 20px;

              .drop-down-item {
                max-width: 25%;
                width: 100%;
                padding: 15px;
                border-radius: 8px;

                &:hover {
                  background: $background-main;
                }

                .drop-down-item__title {
                  margin-bottom: 15px;
                }

                .drop-down-item__description {
                  font-family: 'SFProDisplay-Medium', sans-serif;
                  font-weight: 500;
                  font-size: 14px;
                  color: $text-grey-1;

                  @media (max-width: $max-width-large) {
                    font-size: 13px;
                  }
                }
              }
            }
          }
        }
      }
    }

    .hamburger {
      height: 16px;
      width: 24px;
      display: none;
      flex-direction: column;
      justify-content: space-between;
      cursor: pointer;
      z-index: 130;

      @media (max-width: $max-width-medium) {
        display: flex;
      }

      &.active {
        .line {
          &:nth-child(2) {
            width: 0;
            opacity: 0;
          }

          &:nth-child(1) {
            transform: translateY(7px) rotate(45deg);
          }

          &:nth-child(3) {
            transform: translateY(-7px) rotate(-45deg);
          }
        }
      }

      .line {
        border-radius: 3px;
        width: 100%;
        height: 2px;
        background-color: $background-darkGrey;
        transition: all 0.3s ease-in-out;
      }
    }

    .hamburger.active ~ .hamburger-menu {
      right: 0;
    }

    .hamburger-menu {
      position: fixed;
      right: -100%;
      top: 0;
      z-index: 120;
      background: $white;
      width: 100%;
      height: 100%;
      padding: 20px 40px;
      transition: right .4s ease-out;
      will-change: right;

      .hamburger-menu-wrapper {

        .accordion {
          margin-top: 25px;

          .accordion-item {
            overflow: hidden;

            &.active {

              .accordion-content {
                padding: 0 15px;
              }

              .accordion-header {

                .arrow-bottom {
                    transform: rotate(180deg);
                }
              }
            }

            .accordion-header {
              padding: 15px 0;
              border-bottom: 1px solid $grey-5;
              @include flex-spaced-center

              .arrow-bottom {
                transition: ease-in-out .3s;
              }

              h4 {

              }
            }

            .accordion-content {
              padding: 0 15px;
              max-height: 0;
              overflow: hidden;;
              transition: max-height 0.5s ease-in-out, padding 0.4s ease-in-out;

              .item {
                margin: 10px 0;
                padding: 5px;
                @include flex-spaced-center;

                &:focus {
                  background: $background-main;
                }

                .arrow-right {
                  transform: rotate(270deg);
                  opacity: .4;
                  margin-left: 5px;
                }

                .item-description {
                  color: $text-grey-1;
                  font-size: 11px;
                  margin-top: 5px;
                  font-family: 'SFProDisplay-Medium', sans-serif;
                }
              }
            }
          }
        }
      }

    }
  }
}
