/* Gordita Black */
@font-face {
  font-family: 'Gordita-Black';
  src: url('/src/assets/fonts/Gordita/Gordita-Black.woff2') format('woff2');
  font-weight: 900;
  font-style: normal;
}

/* Gordita Black Italic */
@font-face {
  font-family: 'Gordita-Black-Italic';
  src: url('/src/assets/fonts/Gordita/Gordita-BlackItalic.woff2') format('woff2');
  font-weight: 900;
  font-style: italic;
}

/* Gordita Bold */
@font-face {
  font-family: 'Gordita-Bold';
  src: url('/src/assets/fonts/Gordita/Gordita-Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
}

/* Gordita Bold Italic */
@font-face {
  font-family: 'Gordita-Bold-Italic';
  src: url('/src/assets/fonts/Gordita/Gordita-BoldItalic.woff2') format('woff2');
  font-weight: 700;
  font-style: italic;
}

/* Gordita Italic */
@font-face {
  font-family: 'Gordita-Italic';
  src: url('/src/assets/fonts/Gordita/Gordita-Italic.woff2') format('woff2');
  font-weight: 400;
  font-style: italic;
}

/* Gordita Light */
@font-face {
  font-family: 'Gordita-Light';
  src: url('/src/assets/fonts/Gordita/Gordita-Light.woff2') format('woff2');
  font-weight: 300;
  font-style: normal;
}

/* Gordita Light Italic */
@font-face {
  font-family: 'Gordita-Light-Italic';
  src: url('/src/assets/fonts/Gordita/Gordita-LightItalic.woff2') format('woff2');
  font-weight: 300;
  font-style: italic;
}

/* Gordita Medium */
@font-face {
  font-family: 'Gordita-Medium';
  src: url('/src/assets/fonts/Gordita/Gordita-Medium.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
}

/* Gordita Medium Italic */
@font-face {
  font-family: 'Gordita-Medium-Italic';
  src: url('/src/assets/fonts/Gordita/Gordita-MediumItalic.woff2') format('woff2');
  font-weight: 500;
  font-style: italic;
}

/* Gordita Regular */
@font-face {
  font-family: 'Gordita-Regular';
  src: url('/src/assets/fonts/Gordita/Gordita-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}
