@font-face {
  font-family: 'SFProDisplay-Black';
  src: url('/src/assets/fonts/SanFranciscoProDisplay/SFProDisplay-Black.woff2') format('woff2');
  font-weight: 900; /* Black */
  font-style: normal;
}

@font-face {
  font-family: 'SFProDisplay-BlackItalic';
  src: url('/src/assets/fonts/SanFranciscoProDisplay/SFProDisplay-BlackItalic.woff2') format('woff2');
  font-weight: 900; /* Black */
  font-style: italic;
}

@font-face {
  font-family: 'SFProDisplay-Bold';
  src: url('/src/assets/fonts/SanFranciscoProDisplay/SFProDisplay-Bold.woff2') format('woff2');
  font-weight: 700; /* Bold */
  font-style: normal;
}

@font-face {
  font-family: 'SFProDisplay-BoldItalic';
  src: url('/src/assets/fonts/SanFranciscoProDisplay/SFProDisplay-BoldItalic.woff2') format('woff2');
  font-weight: 700; /* Bold */
  font-style: italic;
}

@font-face {
  font-family: 'SFProDisplay-Heavy';
  src: url('/src/assets/fonts/SanFranciscoProDisplay/SFProDisplay-Heavy.woff2') format('woff2');
  font-weight: 900; /* Heavy */
  font-style: normal;
}

@font-face {
  font-family: 'SFProDisplay-HeavyItalic';
  src: url('/src/assets/fonts/SanFranciscoProDisplay/SFProDisplay-HeavyItalic.woff2') format('woff2');
  font-weight: 900; /* Heavy */
  font-style: italic;
}

@font-face {
  font-family: 'SFProDisplay-Light';
  src: url('/src/assets/fonts/SanFranciscoProDisplay/SFProDisplay-Light.woff2') format('woff2');
  font-weight: 300; /* Light */
  font-style: normal;
}

@font-face {
  font-family: 'SFProDisplay-LightItalic';
  src: url('/src/assets/fonts/SanFranciscoProDisplay/SFProDisplay-LightItalic.woff2') format('woff2');
  font-weight: 300; /* Light */
  font-style: italic;
}

@font-face {
  font-family: 'SFProDisplay-Medium';
  src: url('/src/assets/fonts/SanFranciscoProDisplay/SFProDisplay-Medium.woff2') format('woff2');
  font-weight: 500; /* Medium */
  font-style: normal;
}

@font-face {
  font-family: 'SFProDisplay-MediumItalic';
  src: url('/src/assets/fonts/SanFranciscoProDisplay/SFProDisplay-MediumItalic.woff2') format('woff2');
  font-weight: 500; /* Medium */
  font-style: italic;
}

@font-face {
  font-family: 'SFProDisplay-Regular';
  src: url('/src/assets/fonts/SanFranciscoProDisplay/SFProDisplay-Regular.woff2') format('woff2');
  font-weight: 400; /* Regular */
  font-style: normal;
}

@font-face {
  font-family: 'SFProDisplay-RegularItalic';
  src: url('/src/assets/fonts/SanFranciscoProDisplay/SFProDisplay-RegularItalic.woff2') format('woff2');
  font-weight: 400; /* Regular */
  font-style: italic;
}

@font-face {
  font-family: 'SFProDisplay-Semibold';
  src: url('/src/assets/fonts/SanFranciscoProDisplay/SFProDisplay-Semibold.woff2') format('woff2');
  font-weight: 600; /* Semibold */
  font-style: normal;
}

@font-face {
  font-family: 'SFProDisplay-SemiboldItalic';
  src: url('/src/assets/fonts/SanFranciscoProDisplay/SFProDisplay-SemiboldItalic.woff2') format('woff2');
  font-weight: 600; /* Semibold */
  font-style: italic;
}

@font-face {
  font-family: 'SFProDisplay-Thin';
  src: url('/src/assets/fonts/SanFranciscoProDisplay/SFProDisplay-Thin.woff2') format('woff2');
  font-weight: 200; /* Thin */
  font-style: normal;
}

@font-face {
  font-family: 'SFProDisplay-ThinItalic';
  src: url('/src/assets/fonts/SanFranciscoProDisplay/SFProDisplay-ThinItalic.woff2') format('woff2');
  font-weight: 200; /* Thin */
  font-style: italic;
}

@font-face {
  font-family: 'SFProDisplay-Ultralight';
  src: url('/src/assets/fonts/SanFranciscoProDisplay/SFProDisplay-Ultralight.woff2') format('woff2');
  font-weight: 200; /* Ultralight */
  font-style: normal;
}

@font-face {
  font-family: 'SFProDisplay-UltralightItalic';
  src: url('/src/assets/fonts/SanFranciscoProDisplay/SFProDisplay-UltralightItalic.woff2') format('woff2');
  font-weight: 200; /* Ultralight */
  font-style: italic;
}
