@import "../assets/styles/global";

.block_main_page {
  background: $my-red;

  .title_main_page {
    color: pink;
  }
}

.bg-default {
  position: absolute;
  right: 0;
  top: 0;
  width: 400px;
}
