@import "../assets/styles/global";

.block_main_page {
  background: blue;

  .title_main_page {
    color: white;
  }
}

.bg-default {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 500px;
}
