@mixin full-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin flex-spaced-center {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@mixin y-center {
  display: flex;
  align-items: center;
}

@mixin x-center {
  display: flex;
  justify-content: center;
}

@mixin x-end {
  display: flex;
  justify-content: flex-end;
}

@mixin y-start {
  display: flex;
  align-items: flex-start;
}

@mixin y-stretch {
  display: flex;
  align-items: stretch;
}

@mixin y-end {
  display: flex;
  align-items: flex-end;
}
