// colors
$black: #000;
$white: #fff;
$main-black: #212129;
$gray-6: #F2F2F2;
$gray-2: #8B9EB0;
$gray-1: #5F7487;
$slate-gray: #73757C;
$steel-blue: #62656B;

// break points
$min-width-small: 576px;
$min-width-medium: 768px;
$min-width-large: 992px;
$min-width-extra-large: 1200px;
$container-max-width-mobile: 540px;
$container-max-width-tablet: 720px;
$container-max-width-desktop: 960px;
$container-max-width-large-desktop: 1140px;
