// colors
$white: #FFFFFF;
$black: #000000;

$main-black: #212129;

$red: #EB5757;

$primary-color: #F3CC50;

$primary: #2D264B;

$grey-0: #475F76;
$grey-1: #333333;
$grey-2: #8B9EB0;
$grey-3: #828282;
$grey-4: #BDBDBD;
$grey-5: #EDEFF4;
$grey-6: #F2F2F2;

$background-main: #F2F6F9;
$background-black: #000000;
$background-grey: #141419;
$background-darkGrey: #151515;
$background-white: #ffffff;

$text-black: #363F41;

$text-grey-0: #475F76;
$text-grey-1: #5F7487;
$text-grey-2: #8B9EB0;
$text-grey-3: #B5C7D8;
$text-grey-4: #CBD8E6;

$lines-grey-3: #E1EBF4;
$lines-yellow: #E1BF14;

$input-error: #F8474C;

$icons-standard: #BDC8D3;

$link-color: #63BE37;
$link-hover: #5583FF;

// break points
$max-width-large: 1320px;
$max-width-medium: 960px;
$max-width-small: 700px;
$max-width-very-small: 350px;

// additional
$default-transition: ease-in-out .2s;
